- name: Read local Private Key file
  slurp:
    src: "./{{ key_pair_name }}.pem"
  register: local_key_file

- name: Add SSH_HOST Secret
  community.general.github_repo_secret:
    access_token: "{{ github_token }}"
    repository: "{{ github_repo }}"
    name: SSH_HOST
    # We use the variable passed from the compute role
    value: "{{ ec2_result.instances[0].public_ip_address }}"
    state: present

- name: Add SSH_KEY Secret
  community.general.github_repo_secret:
    access_token: "{{ github_token }}"
    repository: "{{ github_repo }}"
    name: SSH_KEY
    value: "{{ local_key_file['content'] | b64decode }}"
    state: present

- name: Add SSH_USER Secret
  community.general.github_repo_secret:
    access_token: "{{ github_token }}"
    repository: "{{ github_repo }}"
    name: SSH_USER
    value: "ubuntu"
    state: present