# 1. Create the VPC
- name: Create VPC
  amazon.aws.ec2_vpc_net:
    name: "{{ project_name }}-VPC"
    cidr_block: "{{ vpc_cidr }}"
    region: "{{ aws_region }}"
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    state: present
    tags:
      Name: "{{ project_name }}-VPC"
  register: vpc_result

# 2. Create Internet Gateway
- name: Create Internet Gateway
  amazon.aws.ec2_vpc_igw:
    vpc_id: "{{ vpc_result.vpc.id }}"
    region: "{{ aws_region }}"
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    state: present
  register: igw_result

# 3. Create Subnet
- name: Create Public Subnet
  amazon.aws.ec2_vpc_subnet:
    vpc_id: "{{ vpc_result.vpc.id }}"
    region: "{{ aws_region }}"
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    cidr: "{{ subnet_cidr }}"
    map_public: yes
    tags:
      Name: "{{ project_name }}-Public-Subnet"
  register: subnet_result

# 4. Route Table (Connects Subnet to Internet)
- name: Set up Route Table
  amazon.aws.ec2_vpc_route_table:
    vpc_id: "{{ vpc_result.vpc.id }}"
    region: "{{ aws_region }}"
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    tags:
      Name: "{{ project_name }}-Route-Table"
    subnets:
      - "{{ subnet_result.subnet.id }}"
    routes:
      - dest: 0.0.0.0/0
        gateway_id: "{{ igw_result.gateway_id }}"

# 5. Create Network ACL with Specific Rules
- name: Create Custom Network ACL with Specific Rules
  community.aws.ec2_vpc_nacl:
    vpc_id: "{{ vpc_result.vpc.id }}"
    name: "{{ project_name }}-NACL"
    region: "{{ aws_region }}"
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    subnets:
      - "{{ subnet_result.subnet.id }}"
    
    # --- INBOUND RULES (Matching your Screenshot) ---
    ingress:
      - [100, 'tcp', 'allow',  '0.0.0.0/0', null, null, 80, 80]
      - [110, 'tcp', 'allow',  '0.0.0.0/0', null, null, 443, 443]
      - [120, 'tcp', 'allow',  '0.0.0.0/0', null, null, 22, 22]
      - [130, 'tcp', 'allow',  '0.0.0.0/0', null, null, 1024, 65535]

    # --- OUTBOUND RULES (Matching your Screenshot) ---
    egress:
      - [100, 'tcp', 'allow',  '0.0.0.0/0', null, null, 80, 80]
      - [110, 'tcp', 'allow',  '0.0.0.0/0', null, null, 443, 443]
      - [120, 'tcp', 'allow',  '0.0.0.0/0', null, null, 22, 22]
      - [130, 'tcp', 'allow',  '0.0.0.0/0', null, null, 1024, 65535]
        
  register: nacl_result
  ignore_errors: true

# 6. Security Group (Firewall)
- name: Create Security Group
  amazon.aws.ec2_security_group:
    name: "{{ project_name }}-Web-SG"
    description: "Allow SSH and HTTP"
    vpc_id: "{{ vpc_result.vpc.id }}"
    region: "{{ aws_region }}"
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    rules:
      - proto: tcp
        ports: [80, 443, 22]
        cidr_ip: 0.0.0.0/0
  register: sg_result